<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.spark_web.dao.ParkingfacilityMapper">
	
	<select id="FindParkingFacilityInfo" parameterType="Integer" resultType="com.spark_web.domain.ParkingFacility">
		select 
			parkingfacility_id,
			parkingfacility_am_price,
			parkingfacility_pm_price,
			parkingfacility_graceperiod
		from
			t_parkingfacility
		where
			parkingfacility_id = #{parkingfacility_id}
	</select>	
	
	<update id="UpdateParkingFacilityCharge" parameterType="com.spark_web.domain.ParkingFacility">
		update 
			t_parkingfacility
		set
			parkingfacility_am_price = #{parkingfacility_am_price},
			parkingfacility_pm_price = #{parkingfacility_pm_price}
		where 
			parkingfacility_id = #{parkingfacility_id}
	</update>
	
	<update id="UpdateParkingFacilityGracePeriod" parameterType="com.spark_web.domain.ParkingFacility">
		update 
			t_parkingfacility 
		set
			parkingfacility_graceperiod = #{parkingfacility_graceperiod}
		where 
			parkingfacility_id = #{parkingfacility_id}
	</update>
</mapper> 