<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.spark_web.dao.ParkingslotMapper">
	
	<select id="FindAvailableParkingSlot" resultType="com.spark_web.domain.ParkingSlot">
		select 
			parkingslot_seq,
			parkingslot_id,
			parkingfacility_id,
			parkingslot_floor,
			parkingslot_zone
		from
			t_parkingslot
		where
			parkingslot_state = 0
		and
			parkingfacility_id = 1
	</select>
	
	<update id="UpdateParkingSlotResvStatus" parameterType="Integer">
		update 
			t_parkingslot 
		set
			parkingslot_state = 1
		where 
			parkingslot_seq = #{parkingslot_seq}
	</update>

	<update id="UpdateParkingSlotEmptyStatus" parameterType="Integer">
		update 
			t_parkingslot 
		set
			parkingslot_state = 0
		where 
			parkingslot_seq = #{parkingslot_seq}
	</update>
	
	<select id="FindResvParkingSlotSeq" parameterType="com.spark_web.domain.Result_Resv_Info" resultType="Integer">
		select 
			parkingslot_seq
		from
			t_parkingslot
		where
			parkingslot_id = #{parkingslot_id}
		and
			parkingfacility_id = #{parkingfacility_id} 
		and
			parkingslot_floor = #{parkingslot_floor}
		and
			parkingslot_zone = #{parkingslot_zone}
	</select>
	
	<select id="FindParkingSlotInfo"  resultType="com.spark_web.domain.ParkingSlot">
		select
			parkingslot_seq, 
			parkingslot_id,
			parkingfacility_id,
			parkingslot_floor,
			parkingslot_zone,
			parkingslot_state			
		from
			t_parkingslot
	</select>
	
	<select id="FindResvParkingSlotState"  resultType="Integer">
		select 
			parkingslot_state			
		from
			t_parkingslot
		where
			parkingslot_seq = #{parkingslot_seq}
	</select>
	
</mapper> 